@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body{
    font-family: 'Potta One', cursive;
    background-color:  #bedcfa;
} 
#container{
    width: 360px;
    background-color: white;
    margin: 180px auto;
    padding: 30px 20px;
    border-radius: 6px;
}
#judul{
    width: 100%;
    margin: auto;
    padding: auto;
    padding-bottom: 20px;
}
input{
    font-family: 'Potta One', cursive;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}
input[type=submit]{
    font-family: 'Potta One', cursive;
    font-size: 15px;
    background: #98acf8;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 10px;
}