@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body{
    font-family: 'Potta One', cursive;
    scroll-behavior: smooth;
} 
#header{
    background-color: #bedcfa;
    padding: 30px;
    width: 98.1%;
    text-align: center;
}
#navbar{
    background-color: #98acf8;
    padding: 10px;
    width: 100%;
    /* height: 50px; */
}
#content{
    float: left;
    width: 80%;
    display: block;
}
#sidebar{
    float: right;
    width: 20%;
    height: 90%;
    background-color: #98acf8;
    border-radius: 5px;
}
#profile, #sejarah, #fasilitas{
    text-transform: uppercase;
}
#main{
    width: 100%;
    background-color: #b088f9;
    display: inline;
}
#copyright{
    background-color: #da9ff9;
    padding: 15px;
    width: 100%;
    clear: both;
    text-align: center;
}
#footer{
    background-color: #da9ff9;
    padding: 15px;
    width: 100%;
    height: 200px;
    clear: both;
}
.fotoartikel{
    width: 50%;
}
#articel{
    padding-left: 10%;
}
.navbar{
    text-decoration: none;
    padding: 11px 20px 29px;
    cursor: pointer;
    text-align: center;
    color: black;   
    word-spacing: 5px;
}
.home{
    color: white;
}
.navbar:hover{
    color: white;
}
.menu{
    list-style:disc;
}
.login{
    float: right;
    padding-right: 100px;
    padding-top: 0;
}
iframe{
    width: 50%;
    height: 400px;
}